body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset, img, abbr {
	height: 100%;
	width: auto;
	border: 0;
	}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
ul {
	list-style: none;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
	}
q:before, q:after {
	content: '';
	}
a, ins {
	text-decoration: none;
	color:#CDCDCD;
	}

.container{
	max-width: 1280px;
	margin: 0 auto;
	padding:0 3%;
}

.header{
	padding-top: 50px;
	margin-bottom: 80px;
	background: url(../../assets/images/noise_transparent.svg), linear-gradient(119deg, rgba(89,71,57,1) 0%, rgba(35,33,34,1) 100%);
}
.header__top{
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__bootom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
}
.header__logo{
	margin-top: 10px;
	height: 60px;
	width: 190px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}
.header__logo_title{
	margin-bottom: 8px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}
.header__logo_suptitle{
	font-family: 'Arial';
	font-weight: 400;
	font-size:13px;
	color: #FFFF;
	line-height: 160%;
	letter-spacing: 0.1em
}
.header__menu{
	margin-top: 6px;
}
.header__menu li{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	display: inline;
}
.active{
	cursor:default;
	color: #ffffff !important;
	border-bottom: 3px #F1CDB3 solid;
}
.header__header__menu__item{
	margin-right: 2px;
	margin-left: 30px;
	padding-bottom: 3px;
}
.header__header__menu__item:hover{
	cursor: pointer;
	color: #ffffff;
}

.header__bootom_item-text{
	margin-top: 20px;
	margin-right: 42px;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.header__bootom_title{
	margin-bottom: 42px;
	font-family: 'Georgia';
	max-width: 310px;
	font-size: 44px;
	color: #FFFF;
	line-height: 130%;
}
.header__bootom_subtitle{
	max-width: 460px;
	font-family: 'Arial';
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin-bottom: 42px;
	line-height: 160%;
}
.button{
	font-family: 'Georgia';
	width: 207px;
	height: 52px;
	border: none;
	font-size: 17px;
	border-radius: 100px;
	background-color: #F1CDB3;
	margin-bottom: 100px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
}
.button:hover{
	cursor: pointer;
	background-color:#FDDCC4;
}
.button:active{
	cursor: pointer;
	background-color:#F1CDB3;
}

.img{
	max-height: 728px;
	width: auto;
}
.header__dog{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about_img{
	margin-top: 50px;
	max-height: 408px;
	width: auto;
}
.about__box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}
.about__text-box-title{
	margin-bottom: 25px;
	max-width: 370px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}
.about__text-box-text{
	margin-bottom: 25px;
	max-width: 430px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
}

@media (max-width: 992px) {
	.header{
		padding-top: 21px;
		height: 1144px;
	}
	.header__bootom{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.container{
		max-width: 1280px;
		margin: 0 auto;
		padding:0 30px;
	}
	.header__bootom_item-text {
		margin-top: 5px;
	}
	.header__bootom_item-text{
		margin: 0;
	}
	.button{
		margin: 0px 27% 100px;
	}
	.header__dog{
		margin-left: 12%;
		max-height: 593px;
		max-width: 569px;
	}
	.about__box{
		flex-direction: column-reverse;
	}
}
@media (max-width: 725px) {
	#menu__toggle {
		opacity: 0;
	}
	
	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .header__menu {
		visibility: visible;
		right: 0;
	}
	
	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		right: 58px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 1;
	}
	
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
	
		width: 100%;
		height: 2px;
	
		background-color: #F1CDB3;
	
		transition-duration: .25s;
	}
	.menu__btn > span::before {
		content: '';
		top: -8px;
	}
	.menu__btn > span::after {
		content: '';
		top: 8px;
	}
	
	.header__menu {
		display: block;
		position: fixed;
		text-align: center;
		visibility: hidden;
		top: 0;
		right: -100%;
	
		width: 320px;
		height: 100%;
	
		margin: 0;
		padding: 173px 0;
	
		list-style: none;
	
		background-color: #292929;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	
		transition-duration: .25s;
	}
	
	.header__menu__item {
		display: block;
		padding: 0 0 0 40px ;
		color: #CDCDCD;
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 160%;
		text-decoration: none;
		transition-duration: .25s;
	}
	.header__menu__item:hover {
		color: #FAFAFA;
	}
}
@media screen and (min-width: 725px) {
	.hamburger-menu {
			display: none;
	}
}
