body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0; 
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset, img, abbr {
	height: 100%;
	width: auto;
	border: 0;
	}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
ul {
	list-style: none;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
	}
q:before, q:after {
	content: '';
	}
a, ins {
	text-decoration: none;
	color:#CDCDCD;
	}
	html{
		scroll-behavior: smooth;
	}

	._lock{
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
	}
	.lock{
		overflow: hidden;
	}

.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}

.header{
	max-height: 1165px;
	padding-top: 50px;
}
.header__container{
	margin-bottom: 74px;
	background: url(../../assets/images/noise_transparent.svg), linear-gradient(119deg, rgba(89,71,57,1) 0%, rgba(35,33,34,1) 100%);
}

.header__top{
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo{
	cursor:default;
	margin-top: 10px;
	height: 60px;
	width: 190px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}
.logo__title{
	margin-bottom: 8px;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}
.logo__suptitle{
	font-family: 'Arial';
	font-weight: 400;
	font-size:13px;
	color: #FFFF;
	line-height: 160%;
	letter-spacing: 0.1em
}
.menu__body{
	margin-top: 6px;
}
.menu__list li{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	display: inline;
}
.active{
	cursor:default !important;
	color: #ffffff !important;
	border-bottom: 3px #F1CDB3 solid;
}
.menu__link{
	margin-right: 2px;
	margin-left: 30px;
	padding-bottom: 3px;
}
.menu__link:hover{
	cursor: pointer;
	color: #ffffff;
}

.header__bootom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
}

.bootom__item-text{
	cursor:default;
	margin-top: 20px;
	margin-right: 42px;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.item-text__title{
	margin-bottom: 42px;
	font-family: 'Georgia';
	max-width: 310px;
	font-size: 44px;
	color: #FFFF;
	line-height: 130%;
}
.item-text__subtitle{
	max-width: 460px;
	font-family: 'Arial';
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin-bottom: 42px;
	line-height: 160%;
}
.button{
	font-family: 'Georgia';
	width: 207px;
	height: 52px;
	border: none;
	font-size: 17px;
	border-radius: 100px;
	background-color: #F1CDB3;
	margin-bottom: 100px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
}
.button:hover{
	cursor: pointer;
	background-color:#FDDCC4;
}
.button:active{
	cursor: pointer;
	background-color:#F1CDB3;
}

.header__dog{
	width: auto;
	max-height: 728px;
	object-fit: cover;
}
.about{
	cursor:default;
	margin-bottom: 90px;
}
.about_img{
	max-height: 408px;
	width: auto;
}
.about__box{
	margin: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}
.about__text-box{
	margin-top: 20px;
}
.title{
	cursor:default;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}
.about__text-box-title{
	margin-bottom: 25px;
	max-width: 370px;
}
.about__text-box-text{
	margin-bottom: 25px;
	max-width: 430px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
}
.our_friends{
	max-height: 877px;
	padding-top: 78px;
	padding-bottom: 1px;
	background-color: #F6F6F6;
}
.our_friends__title{
	margin: 0 auto 58px;
	text-align: center;
	max-width: 400px;
}
.slider{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
	column-gap: 1.5%;
}

.slider__slider {
	overflow: hidden;
	width: 100%;
}

.slider__items {
	height: 435px;
	display: flex;
}

.left {  order: 1; }
.slider__slider {  order: 2; }
.right {  order: 3; }

.slider__item {
	width: 33.3333%;
	flex-shrink: 0;
}

.slider__card{
	margin: 0 auto;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 270px;
	height: 435px;
	border-radius: 9px;
	background-color:#FAFAFA;
	cursor: pointer;
}
.slider__card__photo{
	width: 270px;
	height: 270px;
}
.slider__card:hover{
	background-color:#ffffff;
}
.slider__card:hover > .slider__card__button{
	border: 2px solid #FDDCC4;
	background-color: #FDDCC4;
}

.slider__card:active > .slider__card__button{
	background-color: #F1CDB3;
	border: 2px solid #F1CDB3;
}

.slider__button{
	width: 52px;
	height: 52px;
	font-size: 20px;
	background-color: #F6F6F6;
	border: 2px solid #F1CDB3;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	flex-shrink: 0;
}
.slider__button:hover{
	background-color: #FDDCC4;
	border: 2px solid #FDDCC4;
}
.slider__button:active{
	background-color: #F1CDB3;
	border: 2px solid #F1CDB3;
}
.buttom_item_left{
	position: absolute;
	right: 35.3%;
	top: 45.3%;
	width: 14px;
	height: 6px;
	flex-grow: 0;
}
.buttom_item_right{
	position: absolute;
	right: 35.3%;
	top: 45.3%;
	width: 14px;
	height: 6px;
	transform: rotate(180deg);
	flex-grow: 0;
}
.slider__card__name{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: #545454;
}
.slider__card__button{
	margin-bottom: 30px;
	width: 187px;
	height: 52px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	color:#292929;
	background-color: #ffffff;
	border: 2px solid #F1CDB3;
	border-radius: 25px;
	cursor: pointer;
}

.our_friends-button{
	display: block;
	width: 261px;
	height: 52px;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 100px;
}
.help__title{
	margin: 80px auto 60px;
	text-align: center;
	max-width:310px;
}
.help__box__ferst-line{
	margin: 0 auto;
	max-width: 1026px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 56px;
	column-gap: 119px;
	margin-bottom: 100px;
}
.box__item{
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box__text{
	margin-top: 30px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
}
.donate{
	cursor: default;
	padding: 80px 0 100px;
	background-color:#F6F6F6;
}
.donate_dog{
	max-width: 505px;
	height: auto;
	object-fit: cover;
}
.donate__box{
	column-gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
  align-content: center;
}
.donate__box__text{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.donate_title{
	max-width: 300px;
}
.donate_subtitle{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
}
.donate_card{
	display: flex;
	align-items: center;
	height: 43px;
	max-width: 349px;
	background-color: #F1CDB3;
	border-radius: 9px;
}
.donate_card:hover{
	background-color: #FDDCC4;
}
.card_icon{
	height: 23px;
	width: auto;
	margin-right: 15px;
	margin-left: 15px;
}
.card_number{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
}
.donate_note{
	max-width: 380px;
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #B2B2B2;
}
.footer{
	padding-top: 40px;
	background: url(../../assets/images/noise_transparent.svg), linear-gradient(119deg, rgba(89,71,57,1) 0%, rgba(35,33,34,1) 100%);
}
.footer__box{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}

.footer_title{
	max-width: 280px;
	color: #ffffff;
}
.footer__contact{
	margin-bottom: 50px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 42px;
}
.footer__adress{
	margin-bottom: 50px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.contact{
	display: flex;
	align-items: center;
	column-gap: 20px;
	max-width: 251px;
}
.adress{
	display: flex;
	align-items: center;
	column-gap: 20px;
	max-width: 302px;
}
.adress_icon{
	max-height: 32px;
}
.contact_text{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}
.adress_text{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}

.popup{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	opacity: 1;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}
.popup.open{
	opacity: 1;
	visibility: visible;
	background-color: rgba(41, 41, 41, 0.6);
}

.popup.open .popup__body{
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup__close{
	position: absolute;
	top:-52px;
	right: -42px;
	height: 52px;
	width: 52px;
	border: 2px #F1CDB3 solid;
	border-radius: 50%;
	background-color: rgba(41, 41, 41, 0);
}
.button__close{
	position: absolute;
	top:18px;
	left: 18px;
	height: 12px;
	width: 12px;
}
.popup__close:hover{
	background: #FDDCC4;
}
.popup__close:active{
	background: #F1CDB3;
}

.popup__body{
	position: relative;
	max-width: 900px;
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	opacity: 1;
	transition: all 0.3s ease 0s;
	transform: translate(0px, -20px);
}
.popup__box{
	position: relative;
	display: flex;
	background: #FAFAFA;
	border-radius: 9px;
	color: #000000;
	max-height:500px;
	height: 100%;
	width: 100%;
	max-width: 900px;
	padding-right: 20px;
}

.popup__content{
	display: flex;
	flex-direction: column;
}
.popup__img{
	margin-right: 30px;
	border-radius: 9px 0 0 9px;
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 500px;
}
.popup__name{
	margin: 50px 0 10px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
}
.popup__breed{
	margin-top: 0px;
	margin-bottom: 43px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}
.popup__text{
	margin-bottom: 42px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
}
.popup__info{
	max-width:350px;
}
.info__pet{
	margin: 0;
	padding: 0;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
}
.info__pet li::before {
	color: #F1CDB3; /* Цвет маркера */
	content: "•"; /* Сам маркер */
	padding-right: 8px; /* Расстояние от маркера до текста */
 }
 .info__pet li{
 margin-bottom: 11px;
	}
.info__name{
	margin: 0;
	font-weight: 700;
}
.item{
	display: flex;
	align-items: center;
}
.footer-dog{
	height: 100%;
	width: auto;
}

@media (max-width: 1208px) {
	.slider__items{
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 1052px) {
	.header{
		padding-top: 21px;
		max-height: 1144px;
	}
	.header__bootom{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.container{
		max-width: 1280px;
		margin: 0 auto;
		padding:0 30px;
	}
	.menu__link{
		margin-left: 29px;
	}
	.button__header {
    display: block;
    margin: 0 auto;
	}
	.bootom__item-text {
		margin-top: 0px;
		margin-right: 0px;
	}

	.button__header{
		margin-bottom: 100px;
	}
	.header__dog{
		margin-left: 20%;
		max-height: 593px;
		max-width: 569px;
	}
	.about__box{
		flex-direction: column-reverse;
	}
	.about__text-box {
		margin-top: 6px;
	}
	.about_img {
		margin-top: 54px;
	}
	.our_friends {
		padding-top: 90px;
	}
	.slider__items{
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}
	.box__text{
		font-size: 20px;
	}
	.help__box__ferst-line {
		margin: 0px 34px;
    max-width: 1026px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 55px;
    column-gap: 52px;
    margin-bottom: 100px;
	}
	.box__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 calc(33.33% - 50px);
	}
	.donate__box{
		display: flex;
		flex-direction: column-reverse;
		gap:58px;
	}
	.donate__box__text {
    gap: 19px;
}
	.footer {
    padding-top: 18px;
	}
	.footer__box{
		gap: 60px;
		justify-content: center;
	}
	.footer-dog{
		margin-top: -44px;
	}
	.box__item{
		height: 113px;
		width: 170px;
	}
	.popup__body {
    width: auto;
	}
	.popup__box {
		height: 100%;
		width: 100%;
		max-width:630px;
		max-height:350px;
		padding-right: 2px;
	}
	.popup__img{
		max-width: 350px;
		max-height: 350px;
		width: 100%;
		height: 100%;
		margin-right: 11px;
	}
	.popup__name{
		width: 260px;
		margin: 11px 0 8px;
		font-size: 35px;
	}
	.popup__breed{
		width: 260px;
		margin-bottom: 23px;
		font-size: 20px;
	}
	.popup__text{
		width: 260px;
		margin-bottom: 17px;
		font-size: 13px;
	}
	.item{
		font-size: 15px;
	}
	.info__pet li {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
	}
}

@media (max-width: 767px) {
	.header__top {
    margin-bottom: 38px;
	}

	.logo_active{
		display: block;
    position: absolute;
    top: 21px;
    right: 0;
    width: 310px;
	}
	.active_icon{
		transform: rotate(90deg);
	}
	
	.header__logo{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.menu__btn {
		display: flex;
		align-items: center;
		position: absolute;
		top: 45px;
		right: 54px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 6;
	}
	
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #F1CDB3;
		transition-duration: .25s;
	}
	.menu__btn > span::before {
		content: '';
		top: -10px;
	}
	.menu__btn > span::after {
		content: '';
		top: 10px;
	}
	
	.menu__body {
		visibility: hidden;
		top:0;
		right: 100%;
		display: block;
		position: absolute;
		text-align: center;
		width: 320px;
		height: 100%;
		padding: 248px 0;
		list-style: none;
		background-color: #292929;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
		transition-duration: .25s;
	}
	.menu__body.active_menu {
		top: -5px;
		right: 0px;
		visibility: visible;
		box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
		transform: translateX(0);
	}
	
	.menu__link {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 37px;
		display: inline-block;
		color: #CDCDCD;
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 160%;
		text-decoration: none;
		transition-duration: .25s;
	}
	.menu__link:hover {
		color: #FAFAFA;
	}
	.header__dog{
		width: auto;
		max-height: 471.77px;
		object-fit: cover;
	}
	.slider__items{
		grid-template-columns: repeat(1, 1fr);
		gap: 40px;
	}
}

@media (max-width: 727px) {
.popup__body {
	width: auto;
}
.popup__content {
	padding: 0 10px;
}
.popup__box {
	height: 100%;
	width: 100%;
	max-width:630px;
	max-height:350px;
	padding-right: 2px;
}
.popup__img{
	display: none;
}
.popup__name{
	width: 420px;
	text-align: center;
	margin: 11px 0 8px;
	font-size: 35px;
}
.popup__breed{
	width: 420px;
	text-align: center;
	margin-bottom: 23px;
	font-size: 20px;
}
.popup__text{
	width: 420px;
	text-align: justify;
	margin-bottom: 17px;
	font-size: 13px;
}
.item{
	font-size: 15px;
}
.info__pet li {
	margin-bottom: 6px;
}
}



@media (max-width: 560px) {
	.container{
		padding: 0px 10px;
	}
	.header__container{
		margin-bottom: 36px;
	}
	.header {
    margin-bottom: 38px;
	}
	.header__top {
		margin:0;
}
	.header__logo {
		margin-top: 10px;
		margin-left: -2px;
	}
	.bootom__item-text{
		margin-right: 0px;
		align-items: center;
		text-align: center;
	}
	.item-text__title{
		width: 210px;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.06em;
	}
	.header__dog{
		margin-left: 14%;
		width: auto;
		max-height: 271.77px;
		object-fit: cover;
	}
	.button__header{
		margin-bottom: 105px;
	}
	.title{
		text-align: center;
		font-weight: 400;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.06em;
	}
	.about {
    margin-bottom: 42px;
	}
	.about__text-box-text{
		margin-bottom: 22px;
		text-align: justify;
	}
	.about_img {
    height: 353.6px;
    margin-top: 19px;
	}
	.our_friends {
    padding-top: 42px;
	}
	.our_friends__title {
    margin: 0 auto 42px;
	}
	.slider{
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: center;
		margin-bottom: 42px;
		column-gap: 26.5%;
		flex-direction: row;
	}
	.slider__button {
    margin-top: 18px;
	}

	.left {  order: 1; }
	.slider__slider {  order: 3; }
	.right {  order: 2; }

	.slider__card {
    margin-bottom: 19px;
	}
	.box__text {
  	margin-top: 0;
	}
	.our_friends-button {
    margin-bottom: 40px;
	}
	.help__title {
		width: 230px;
    margin: 43px auto 40px;
	}
	.help__box__ferst-line {
		gap: 30px;
		margin: 0px 5px 43px;
	}
	.box__item_icon{
		max-height: 50px;
		max-width: 50px;
	}
	.box__text{
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
	}
	.box__item {
		height: 87px;
		width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: space-between;
		flex: none;
	}
	.donate {
    padding: 42px 0 42px;
	}
	.donate__box {
    gap: 42px;
	}
	.donate__box__text{
		gap: 24px;
		align-items: center;
	}
	.donate_subtitle{
		letter-spacing: 0;
	}
	.donate_card{
		width: 281px;
		height: 43px;
	}
	.card_number{
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
	}
	.donate_note{
		width: 280px;
		text-align: justify;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		margin-top: -3px;
	}
	.donate_dog{
		max-width: 260px;
	}
	.donate_title{
		max-width: 220px;
	}
	.footer {
    padding-top: 14px;
}
	.footer__box {
    gap: 0;
	}
	.footer__contact {
		align-items: center;
		margin-bottom: 26px;
	}
	.footer__adress {
		align-items: center;
		margin-bottom: 26px;
		gap: 39px;
	}
	.footer-dog{
		margin-top: 16px;
		width: 269px;
		height: 269px;
	}
	.second{
		width: 320px;
	}
/*-------------------------*/
	.popup__content {
		padding: 0 10px;
	}
	.popup__box {
		width: 100%;
		max-width:240px;
		min-height:341px;
		height: auto;
		padding-right: 2px;
	}
	.popup__name{
		width: 220px;
		text-align: center;
		margin: 11px 0 8px;
		font-size: 35px;
	}
	.popup__breed{
		width: 220px;
		text-align:center;
		margin-bottom: 0px;
		font-size: 20px;
	}
	.popup__text{
		width: 220px;
		text-align: justify;
		margin-bottom: 20px;
		font-size: 13px;
	}
	.item{
		font-size: 15px;
	}
	.info__pet li {
		margin-bottom: 6px;
	}
	.popup__close {
		right: -29px;
	}
}
	